@font-face {
    font-family: 'Benguiat';
    src: url('./assets/font/Benguiat Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  